<html>
    <h1>안녕하세요</h1>    
    <div class="testClass">안녕하세요</div>
</html>
<style>
    h1 {
        color: red;
        text-align: center;
    }
    .testClass {
        color: red;
        text-align: center;
    }
</style>
<script>
    alert('hello javascript in front');
</script>